<!DOCTYPE html>
<html>
    <head>
        <title> Flappy TIM rules </title>
        <link rel = "stylesheet" type = "text/css" href ="static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!---<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon"> -->
    </head>
    <body class = "Body">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
          <img id="tim" src="tim_transparent" alt="Tim the Beaver sprite">
          <div class="navbar-brand" href="#">&ensp; Flappy TIM</div>
          <div class="navbar-nav" id="nav-item-container">
                <!-- navbar items are inserted here -->
          </div>
      </nav>
      <div class = "rules text_font2">
          <hr>
          <ol>
            <li><h2> You do not talk about the TIM club. </h2></li>
            <li><h2>You DO NOT talk about the TIM club</h2></li>
            <li> <h2> You can select between 5 different levels of difficulty, each of them will determine the number of different keys you'll be using. </h2> </li>
            <li> <h2> Try to keep TIM alive by pressing the specific keys that appear on the screen. </h2> </li>
            <li> <h2> You can see the TOP 5 scores of you and of everyone in general when you clik 'See my scores' when you lose. </h2> </li>
          </ol>
      </div>
      <nav class="navbar">
        <div class="allign-upperleft" id="nav-item-container">

        </div>
      </nav>
      <div id="name-container" class = "allign-upperright"></div>
      <a type="button" class="btn btn-primary btn-lg goBack" href = "/">Go back</a>


    </body>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/name.js"></script>
</html>